@model AppUser
@{
    ViewData["Title"] = "UPDATE USER";
}

<div class="container-create">
    <h1 class="bg-info text-white">Update User</h1>
</div>

<div class="container-create">
    <h1> </h1>
</div>

<div class="container-create">
    <a asp-action="Index" class="button">Back</a>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<div class="container-create">
    <form asp-action="Update" method="post">
        <div class="input-field">
            <label asp-for="Id">Id</label>
            <input asp-for="Id" class="form-control" disabled />
        </div>
        <div class="input-field">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input name="password" class="form-control" />
        </div>
        <button type="submit" class="submit-button">Save</button>
    </form>
</div>
